

body{
    background: rgb(230,144,45);
    background: linear-gradient(39deg, rgba(230,144,45,1) 17%, rgba(226,166,24,1) 24%, rgba(228,86,76,1) 87%);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_wrapper{
    width: 900px;
    margin: 0 auto;
}
.skill{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.skill_image{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.skill_image img{
    width: 100px;
    height: auto;
    background: rgb(57 78 117);
    background: linear-gradient(39deg, rgb(76 133 191) 17%, rgb(99 101 162) 24%, rgba(228,86,76,1) 87%);
    margin: 15px;
    border-radius: 20px;
    padding:10px;
    transition: .3s ease-in-out;
    box-shadow: 2px 2px 7px 2px #793939;
}
.skill_image img:hover{
    background-color: transparent;
    background:rgb(57 78 117);
    background:linear-gradient(39deg,rgba(228,86,76,1) 17%, rgb(99 101 162) 24%,rgb(76 133 191) 87%);
    
}